dbhost = 127.0.0.1
dbport = 3306
dbuser = irisuser
dbpasswd = 
dbname = arm
tmp_dir = /tmp
root = /home/irisuser/CAIRIS/cairis
web_port = 7071
log_level = debug
web_static_dir = /home/irisuser/CAIRIS/cairis/cairis/public
upload_dir = /home/irisuser/CAIRIS/uploads
